@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    } /*when the screen size is less the 1200 pixels then the desktop nav will be disabled*/
    #mobile-nav{
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    #profile{
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
}
/*@media screen and (max-width: 768px){
    .section__pic-container{
        width: 100%;
        height: auto;
    }
}
